# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist*
//dist/amitnginx/*
/dist-server
/.env
/tmp
/out-tsc
/.firebase*
/webpack-config.js
# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


# Local Netlify folder
.netlify
package-lock.json
.env
index.js
/.env
.env
.env
/.cache
amit2.0-mirror/*
amit2.0-mirror/description
amit2.0-mirror/HEAD
amit2.0-mirror/packed-refs
amit2.0-mirror/hooks/applypatch-msg.sample
amit2.0-mirror/hooks/commit-msg.sample
amit2.0-mirror/hooks/fsmonitor-watchman.sample
amit2.0-mirror/hooks/post-update.sample
amit2.0-mirror/hooks/pre-applypatch.sample
amit2.0-mirror/hooks/pre-commit.sample
amit2.0-mirror/hooks/pre-merge-commit.sample
amit2.0-mirror/hooks/pre-push.sample
amit2.0-mirror/hooks/pre-rebase.sample
amit2.0-mirror/hooks/pre-receive.sample
amit2.0-mirror/hooks/prepare-commit-msg.sample
amit2.0-mirror/hooks/push-to-checkout.sample
amit2.0-mirror/hooks/sendemail-validate.sample
amit2.0-mirror/hooks/update.sample
amit2.0-mirror/info/exclude
amit2.0-mirror/info/refs
amit2.0-mirror/objects/info/commit-graph
amit2.0-mirror/objects/info/packs
amit2.0-mirror/objects/pack/pack-ce47b5260f4ac2494d16b65d9b4f6926d9d3a915.bitmap
amit2.0-mirror/objects/pack/pack-ce47b5260f4ac2494d16b65d9b4f6926d9d3a915.idx
amit2.0-mirror/objects/pack/pack-ce47b5260f4ac2494d16b65d9b4f6926d9d3a915.pack
amit2.0-mirror/objects/pack/pack-ce47b5260f4ac2494d16b65d9b4f6926d9d3a915.rev
