.scene {
  width: 900px;
  display: flex;
  perspective: 800px;
  .card {
    position: relative;
    width: 125px;
    height: 55px;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    &:hover {
      transform: rotateY(0.5turn);
    }
    .card-wrapper {
      text-align: center;
    }
    .card__face {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      backface-visibility: hidden;
      transition: 1s ease-in-out;
      &--back {
        transform: rotateY(0.5turn);
      }
    }
  }
}
.abc {
  width: 400px;
  ;
  height: 420px;
}
.text-center {
  text-align: center;
}
.InsideContent {
  display: flex;
  align-items: flex-start;
}
.textcenter {
  text-align: center;
}
cardbear {
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
cardvix {
  width: 800px;
  height: 150px;
}
cardpcr {
  width: 800px;
  height: 150px;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
//investingindiacators
.card-containerii {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.cardii-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 10px;
}

.cardii-text {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
}

.cardii {
  width: 10%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.cardii:hover {
  transform: scale(1.05);
}

.cardii-green {
  background-color: #4caf50; /* Green */
  color: white;
}

.cardii-red {
  background-color: #f44336; /* Red */
  color: white;
}

.cardii-yellow {
  background-color: #ffeb3b; /* Yellow */
  color: black;
}

@media (max-width: 1200px) {
  .cardii {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .cardii {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .cardii {
    width: 90%;
  }
}
