<div class="gap-div">



<!-- <div class="chart" id="chart-container"></div> -->
<!-- <div fxLayout="row" fxLayout.xs="column">
  <div class="chart" id="chart-container"></div>
  
</div> -->

<header style="display: flex; justify-content: center;">
  <h1 class="header-1">Long Buildup</h1><br>
  </header>
  <div
   class="chart" id="chart-containerlongbuildup">
  </div>
  
<header style="display: flex; justify-content: center;">
  <h1 class="header-1">Short Covering</h1>
</header>
<div
 class="chart" id="chart-containershortcovering">
</div>




<!-- <header style="display: flex; justify-content: center;"><br><em>Last Refreshed:{{this.time3}}</em>
<h1 class="header-2">Long Unwinding</h1>
</header>
<div
 class="chart" id="chart-containerlongunwinding">
</div> -->
<header style="display: flex; justify-content: center;">
<h1 class="header-3">Short Buildup</h1>
</header>
<div
 class="chart" id="chart-containershortbuildup">
</div>

<header style="display: flex; justify-content: center;">
  <h1 class="header-1">High Durability/Volatility/Momentum Stocks</h1><br><em>Last Refreshed:{{this.time}}</em>
  </header>
  <div
   class="chart" id="chart-containertldvmstock">
  </div>

  <header style="display: flex; justify-content: center;">
    <h1 class="header-1">TT Volume Breakout</h1><br><em>Last Refreshed:{{this.time1}}</em>
    </header>
    <div
     class="chart" id="chart-containerttvolbo">
    </div>

    <header style="display: flex; justify-content: center;">
      <h1 class="header-1">NT Volume Breakout</h1><br><em>Last Refreshed:{{this.time1}}</em>
      </header>
      <div
       class="chart" id="chart-containerntvolbo">
      </div>





</div>
