
@media (max-width: 320px) { 
    #chart {
        width: 100%;
        max-height:600px;
        margin: 0px auto;
      }
    #chart1 {
        width: 100%;
        max-height:600px;
        margin: 0px auto;
      }
    #chart2 {
        max-width: 100px;
        margin: 5px auto;
        padding: 0;
      }
    //   :host ::ng-deep .chart{
    //     width:100px;
    //     height:400px;
        
    //   }
    //   :host ::ng-deep .chart1{
    //     width:100px;
    //     height:400px;
        
    //   }
  }

  #chart {
    max-width: 650px;
    margin: 0px auto;
  }
#chart1 {
    max-width: 650px;
    margin: 0px auto;
  }
  #chart2 {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
  }